input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 1em;
  margin: 0;
  padding: 0;
  font-family: "FontAwesome";
  font-size: 1em;
}
input[type="checkbox"], input[type="checkbox"]:hover, input[type="checkbox"]:focus,
input[type="radio"],
input[type="radio"]:hover,
input[type="radio"]:focus {
  outline: none;
}
input[type="checkbox"]:before,
input[type="radio"]:before {
  display: inline-block;
  color: #c8c8c8;
}
input[type="checkbox"]:checked:before,
input[type="radio"]:checked:before {
  color: #2db7f5;
}

input[type="checkbox"]:before {
  content: "\f096";
}
input[type="checkbox"]:checked:before {
  content: "\f046";
}

input[type="radio"]:before {
  content: "\f10c";
}
input[type="radio"]:checked:before {
  content: "\f192";
}
